.content {
  background-color: #fafafa;
}
.banner {
  width: 100%;
  padding-bottom: 0.26666rem;
  background-color: #fafafa;
}
.banner img {
  width: 100%;
  display: block;
}
.main {
  font-size: 0.29333rem;
  padding: 0 0.42666rem;
}
.main .left {
  width: 5.06666rem;
  margin-top: 0.69333rem;
}
.main .left .logo-gray {
  width: 5.06666rem;
  height: 1.46666rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .left .logo-gray img {
  width: 1.41333rem;
  height: 0.53333rem;
}
.main .right {
  margin-top: 0.58666rem;
}
.main .right a {
  width: 3.46666rem;
  height: 1.25333rem;
  display: block;
  background: transparent;
  border-radius: 0.16rem;
  border: 2px solid #e5e5e5;
  background-size: 100%;
  font-size: 0.32rem;
  color: #3c6227;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main .right a img {
  width: 0.65333rem;
  height: 0.65333rem;
  vertical-align: middle;
}
.main .right a:nth-child(2) {
  margin-top: 0.32rem;
}
.main .right a.active {
  background-color: #3c6227;
  color: #fff;
  border: 2px solid #3c6227;
}
.tab {
  margin-top: 0.26666rem;
}
.tab ul {
  height: 1.04rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #ced8c9;
}
.tab ul li {
  height: 1.04rem;
  line-height: 1.04rem;
  flex: 1;
  text-align: center;
}
.tab ul li a {
  display: inline-block;
  font-size: 0.37333rem;
  color: #858585;
}
.tab ul li a.active {
  color: #3c6227;
  border-bottom: 2px solid #3c6227;
}
.tab .tab-content {
  padding: 0.61333rem 0.32rem;
  background-color: #fff;
}
.tab .tab-content .tab-content-have {
  border: 2px solid #3C6227;
  border-radius: 0.16rem;
  padding: 0.32rem 0.37333rem 0.42666rem;
  position: relative;
  font-size: 0.29333rem;
}
.tab .tab-content .tab-content-have .left img {
  width: 2.61333rem;
  height: 3.90666rem;
  vertical-align: middle;
}
.tab .tab-content .tab-content-have .right p {
  width: 4.93333rem;
  font-size: 0.32rem;
  color: #555454;
}
.tab .tab-content .tab-content-have .right2 {
  padding-top: 1.06666rem;
}
.tab .tab-content .tab-content-have .right3 {
  padding-top: 1.06666rem;
}
.tab .tab-content .tab-content-have .logo-gray {
  position: absolute;
  bottom: 0.1rem;
  right: 2.21333rem;
  width: 1.41333rem;
  height: 0.53333rem;
}
