.content {
  background-color: #fafafa;
}
.banner {
  width: 100%;
  padding-bottom: 0.26666rem;
  background-color: #fafafa;
}
.banner img {
  width: 100%;
  display: block;
}
.main {
  font-size: 0.29333rem;
  padding: 0 0.42666rem;
}
.main .logo {
  height: 1.76rem;
  display: flex;
  align-items: center;
}
.main .logo img {
  width: 1.41333rem;
  height: 0.53333rem;
}
.main p {
  margin-bottom: 0.74666rem;
}
.show {
  margin-top: 0.26666rem;
  padding: 0.64rem 0.32rem;
  background-color: #fff;
}
.show h1 {
  height: 1.22666rem;
  line-height: 1.22666rem;
  font-size: 0.37333rem;
  color: #494949;
}
.show ul {
  display: flex;
  justify-content: space-between;
}
.show ul li {
  text-align: center;
  font-size: 0.29333rem;
  color: #555454;
}
.show ul li img {
  width: 2.53333rem;
  height: 3.62666rem;
  display: block;
  margin-bottom: 0.42666rem;
}
